.footer-section {
  background-color: #2e2f42;
  color: #e7e9fc;
}

:root {
  --brand-color: #2e2f42;
  --text-color: #434455;
  --accent-text-color: #e7e9fc;
  --button-color: #f4f4fd;
  --primary-brand-color: #4d5ae5;
  --pressed-state: #404bbf;
  --white-color: #ffffff;
  --project-gap: 20px;
}

ul {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* body */
body {
  font-family: 'Roboto', sans-serif;
  color: var(--brand-color);
  letter-spacing: 0.02em;
  font-size: 16px;
  background-color: var(--white-color);
}
/* header */
/* logo */
.logo-link {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  text-decoration: none;
}

.logo-web {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--primary-brand-color);
}

/* navigation */
.nav a {
  color: var(--brand-color);
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
  color: var(--pressed-state);
}

.nav-item {
  color: var(--brand-color);
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.nav-item:hover,
.nav-item:focus,
.nav-item:active {
  color: var(--pressed-state);
}


.nav-portfolio:visited,
.nav-studio:visited {
  color: var(--pressed-state);
  text-decoration: none;
}
.nav-portfolio {
  text-decoration: none;
}
.nav-b:focus
.nav-b:active
.nav-b:hover {
color: var(--pressed-state) ;
}

/* contacts */
.auth-nav a {
  line-height: 1.5;
  color: var(--text-color);
  text-decoration: none;
}
.nav-item {
  text-decoration: none;
}


.auth-nav a:hover,
.auth-nav a:focus {
  color: var(--pressed-state);
}

/* main page index.html */
.hero {
  background-color: var(--brand-color);
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--white-color);
  font-weight: 700;
  letter-spacing: 0.02em;
}

.hero-btn {
  background-color: var(--primary-brand-color);
  cursor: pointer;
  color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--pressed-state);
}

/* our advantages */
.advant-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.advant-descr {
  line-height: 1.5;
  color: var(--text-color);
  letter-spacing: 0.02em;
}

/* about us */
.about-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

/* our team */
.team {
  background-color: var(--button-color);
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing:0.02em ;
}

.team-position {
  line-height: 1.5;
  color: var(--text-color);
}

/* portfolio.html */
/* filter btn nav */
.filter-btn {
  background-color: var(--button-color);
  cursor: pointer;
  color: var(--primary-brand-color);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--pressed-state);
  color: var(--white-color);
}

/* our projects */
.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.prooject-descr {
  color: var(--text-color);
  line-height: 1.5;
  
}
/* footer */
.footer {
  background-color: var(--brand-color);
}

.footer-logo {
  font-family: 'Raleway';
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-color);
  text-decoration: none;
}
.footer-descr {
  line-height: 1.5;
  color: var(--accent-text-color);
}

/**
  |============================
  | nav-container
  |============================
*/
.container-nav {
  display: flex;
  width: 586px;
  

}


/**
  |============================
  | card-set
  |============================
*/


img {
display: block;
max-width: 100%;
}

.container {
  width:1128px ;
  padding-left: 15px;
  padding-right: 15px;
  
  margin-left: auto;
  margin-right: auto;
}

.project {
  padding:0 ;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  margin-left: calc(-1 *var(--project-gap) ) ;
  margin-right: calc(-1 *var(--project-gap) ) ;;
  row-gap: 48px;

}
.project > .item {
  flex-basis: calc(100% / 3 - var(--project-gap));
  margin-left: var(--project-gap);
  margin-top: var(--project-gap);
}
